#zoo {
    background-color: aliceblue;
  }
  
  .zooField {
    font-size: 20px;
  }
  
  .title {
    text-align: center;
    margin-top: 200px;
  }
  
  .zooInfo {
    background-color: white;
  }
  
  .animalInfo {
    background-color: white;
  }
  
  #animals {
    background-color: white;
    font-size: 20px;
  }
  
  table {
    border-collapse: collapse;
    align-items: center;
  }
  
  tr:nth-child(even) {
    background-color: Blue;
    width: 120px;
  }
  tr:nth-child(odd) {
    background-color: cyan;
    width: 120px;
  }
  
  td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}
  .list {
    display: none;
  }
  
  #submit {
    background-color: white;
  }
  